body {
  background-image: url("img/koala2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(214, 155, 148, 0.73);
}

head {
  text-align: center;
  align-items: center;
}

h1 {
  color: rgb(188, 12, 12);
  text-align: center;
  width: 100%;
  align-items: center;
  border: 3px solid;
  background-color: rgba(214, 155, 148, 0.73);
  border-color: rgb(111, 21, 222);
}

p {
  color: rgb(249, 247, 248);
  font-size: 24px;
  text-align: center;
}

li {
  color: rgb(244, 76, 76);
  list-style: none;
  text-align: center;
  font-size: 18px;
}
